Repository etsa-tech/etsa.tech: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

repos:
  # Native Git PreCommit Hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.md$
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # GitLeaks - Security scanning
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.27.2
    hooks:
      - id: gitleaks

  # Prettier - Code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|yaml|yml)$
        exclude: |
          (?x)^(
            package-lock\.json|
            \.next/.*|
            out/.*|
            node_modules/.*
          )$

  # ESLint and TypeScript - Use local npm scripts
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      - id: typescript-check
        name: TypeScript type check
        entry: npx tsc --noEmit --skipLibCheck
        language: system
        files: \.(ts|tsx)$
        exclude: |
          (?x)^(
            .*\.test\.(ts|tsx)$|
            .*/__tests__/.*\.(ts|tsx)$
          )
        pass_filenames: false

feat: 2026-06-02-Rancher-Kubernetes (#341)
  posts/2026-06-02-Rancher-Kubernetes.md
  public/images/speakers/chris_reynolds.jpg
Due: none

fix: admin portal schema and post creation
  src/app/admin/posts/[slug]/edit/page.tsx
  src/app/admin/posts/new/page.tsx
  src/app/api/admin/assets/upload/route.ts
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/lib/github.ts
Due: eslint, typescript-check

fix: update post branch name
  src/app/api/admin/assets/upload/route.ts
  src/app/api/admin/posts/[slug]/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/lib/github.ts
Due: eslint, typescript-check

fix: security fixes
  src/app/api/admin/assets/upload/route.ts
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/lib/github.ts
Due: eslint, typescript-check

fix: code duplication
  src/app/api/admin/assets/upload/route.ts
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/lib/github.ts
  src/lib/utils.ts
Due: eslint, typescript-check

fix: codeql
  src/components/admin/BlogPostEditor.tsx
Due: eslint, typescript-check

fix: admin console (#345)
  src/app/admin/posts/[slug]/edit/page.tsx
  src/app/admin/posts/new/page.tsx
  src/app/api/admin/assets/upload/route.ts
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/lib/github.ts
  src/lib/utils.ts
Due: eslint, typescript-check

fix: stringify presentation posts
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
Due: eslint, typescript-check

fix: don't show blog posts in presentation
  src/app/presentation/[slug]/page.tsx
Due: eslint, typescript-check

fix: admin console (#347)
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/app/presentation/[slug]/page.tsx
Due: eslint, typescript-check

fix: stringify of posts
  deno.lock
  src/app/admin/posts/[slug]/edit/page.tsx
  src/app/presentation/[slug]/page.tsx
  src/components/admin/BlogPostEditor.tsx
  src/types/post.ts
Due: eslint, typescript-check

fix: npm update packages
  package-lock.json
Due: none

fix: use globalThis
  src/app/admin/posts/[slug]/edit/page.tsx
  src/components/admin/BlogPostEditor.tsx
Due: eslint, typescript-check

fix: upgrade js-yaml v5
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/lib/server-only-carousel.ts
Due: eslint, typescript-check

fix: upgrade js-yaml v5 types
  package-lock.json
  package.json
  scripts/convert-yaml-schema.js
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
Due: eslint, typescript-check

docs(posts): add July 2026 Summer Social meeting info
  posts/2026-07-07-july-social.md
Due: none

docs(posts): add July 2026 Summer Social meeting info (#387)
  posts/2026-07-07-july-social.md
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

docs(posts): add August 2026 speaker meeting
  posts/2026-08-04-home-lab-journey.md
  public/images/speakers/AlexFranklin.jpeg
Due: none

docs(posts): modify publication date for 7-27
  posts/2026-08-04-home-lab-journey.md
Due: none

fix(posts): quote August event dates
  posts/2026-08-04-home-lab-journey.md
Due: none

style(posts): format August event post
  posts/2026-08-04-home-lab-journey.md
Due: none

feat(posts): add August 2026 speaker meeting (#417)
  posts/2026-08-04-home-lab-journey.md
  public/images/speakers/AlexFranklin.jpeg
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities (#409)
  package-lock.json
  package.json
Due: none

chore: consolidate photo
  public/images/speakers/AlexFranklin.jpeg
Due: none

chore: consolidate photo
  posts/2026-08-04-home-lab-journey.md
Due: none

feat: lfs from admin
  .pre-commit-config.yaml
  package.json
  src/app/api/admin/assets/upload/route.ts
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/new/route.ts
  src/app/api/admin/speakers/upload/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/lib/git-lfs.ts
  src/lib/github-app.ts
Due: eslint, typescript-check

feat: check lfs extentions
  scripts/check-lfs-extensions.js
Due: eslint

chore: quotes
  posts/2026-08-04-home-lab-journey.md
  src/lib/yaml-frontmatter.ts
Due: eslint, typescript-check

fix: address Sonar findings in LFS sync check and coordinate handling
  scripts/check-lfs-extensions.js
  src/components/admin/BlogPostEditor.tsx
  src/lib/git-lfs.ts
Due: eslint, typescript-check

fix: speaker photo
  posts/2026-08-04-home-lab-journey.md
Due: none

chore(deps): consolidate renovate prs
  renovate.json
Due: none

fix: delete bad social
  posts/2026-01-07-new-years-social.md
Due: none

fix: add rgs slides
  posts/2026-06-02-Rancher-Kubernetes.md
  public/presentation/2026-06-02-Rancher-Kubernetes/OSS_Stack.pdf
Due: none

chore(ci): remove unneeded opentofu
  .github/workflows/push.yml
Due: none

chore: fix case
  posts/2026-05-05-Edge-Data-Center.md
Due: none

chore: fix case
  public/images/speakers/aaron_andersen_2.jpeg
Due: none

chore: fix case
  public/images/speakers/aaron_andersen.jpeg
Due: none

feat: add chris reynolds recording
  posts/2026-06-02-Rancher-Kubernetes.md
Due: none
