Repository etsa-tech/etsa.tech: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

.pre-commit-config.yaml:

repos:
  # Native Git PreCommit Hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.md$
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # GitLeaks - Security scanning
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.27.2
    hooks:
      - id: gitleaks

  # Prettier - Code formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|css|scss|md|yaml|yml)$
        exclude: |
          (?x)^(
            package-lock\.json|
            \.next/.*|
            out/.*|
            node_modules/.*
          )$

  # ESLint and TypeScript - Use local npm scripts
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      - id: typescript-check
        name: TypeScript type check
        entry: npx tsc --noEmit --skipLibCheck
        language: system
        files: \.(ts|tsx)$
        exclude: |
          (?x)^(
            .*\.test\.(ts|tsx)$|
            .*/__tests__/.*\.(ts|tsx)$
          )
        pass_filenames: false

chore: renovate config, content updates, and cleanup (#430)
  .github/workflows/push.yml
  posts/2026-01-07-new-years-social.md
  posts/2026-05-05-Edge-Data-Center.md
  posts/2026-06-02-Rancher-Kubernetes.md
  public/images/speakers/aaron_andersen.jpeg
  public/presentation/2026-06-02-Rancher-Kubernetes/OSS_Stack.pdf
  renovate.json
Due: none

fix: meetup link
  src/app/about/page.tsx
Due: eslint, typescript-check

feat: rsvp functionally data table
  deno.lock
  docs/google-apps-script-setup.md
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/rsvps/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/components/admin/BlogPostsTable.tsx
  src/lib/google-sheets-read.ts
  src/types/post.ts
Due: eslint, typescript-check

feat: hydration gate and enhance google sheets data
  docs/google-apps-script-setup.md
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/rsvps/meetup/route.ts
  src/app/api/admin/posts/[slug]/rsvps/sheet/route.ts
  src/lib/google-sheets-read.ts
  src/lib/meetup.ts
  src/lib/name-matching.ts
Due: eslint, typescript-check

fix: auto-merge for Meetup ID saves, robust PR linking, and RSVP report polish
  deno.lock
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/route.ts
  src/lib/github.ts
Due: eslint, typescript-check

fix: pin Turbopack workspace root to silence lockfile-detection warning
  next.config.ts
Due: eslint, typescript-check

fix: address SonarQube findings (TypeError, complexity, array-index keys)
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/route.ts
  src/lib/google-sheets-read.ts
  src/lib/meetup.ts
Due: eslint, typescript-check

feat: rsvp report for talks (Google Sheet + Meetup + CSV, with dedup) (#433)
  docs/google-apps-script-setup.md
  next.config.ts
  src/app/about/page.tsx
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/route.ts
  src/app/api/admin/posts/[slug]/rsvps/meetup/route.ts
  src/app/api/admin/posts/[slug]/rsvps/sheet/route.ts
  src/components/admin/BlogPostEditor.tsx
  src/components/admin/BlogPostsTable.tsx
  src/lib/github.ts
  src/lib/google-sheets-read.ts
  src/lib/meetup.ts
  src/lib/name-matching.ts
  src/types/post.ts
Due: eslint, typescript-check

feat: agent cce
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

feat: agent cce
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

fix: admin portal name dedup duplicication and meetup fix
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/rsvps/meetup/route.ts
  src/lib/meetup.ts
  src/lib/name-matching.ts
Due: eslint, typescript-check

fix: admin RSVP report dedup duplication and Meetup lookup bugs (#439)
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/rsvps/meetup/route.ts
  src/lib/meetup.ts
  src/lib/name-matching.ts
Due: eslint, typescript-check

feat(admin): cache RSVP report to Netlify Blobs with autosave
  package-lock.json
  package.json
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/rsvps/cache/route.ts
  src/lib/rsvp-cache.ts
Due: eslint, typescript-check

fix(admin): address Sonarqube findings on RSVP report page
  src/app/admin/posts/[slug]/rsvps/page.tsx
Due: eslint, typescript-check

feat: agents sonarqube
  AGENTS.md
Due: none

chore(deps): image-size
  package-lock.json
  package.json
Due: none

feat(admin): cache RSVP report to Netlify Blobs with autosave (#442)
  AGENTS.md
  package-lock.json
  package.json
  src/app/admin/posts/[slug]/rsvps/page.tsx
  src/app/api/admin/posts/[slug]/rsvps/cache/route.ts
  src/lib/rsvp-cache.ts
Due: eslint, typescript-check

feat(admin): add Mailchimp social-mailing portal for presentation posts
  .pre-commit-config.yaml
  AGENTS.md
  jest.config.js
  package-lock.json
  package.json
  src/app/admin/posts/[slug]/edit/page.tsx
  src/app/admin/posts/[slug]/social/page.tsx
  src/app/api/admin/posts/[slug]/social/[provider]/__tests__/send-gate.test.ts
  src/app/api/admin/posts/[slug]/social/[provider]/draft/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/search/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/send/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/status/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/test/route.ts
  src/components/admin/BlogPostsTable.tsx
  src/components/admin/BranchSelector.tsx
  src/lib/social-cache.ts
  src/lib/social/index.ts
  src/lib/social/mailchimp.ts
  src/lib/social/post-data.ts
  src/lib/social/types.ts
  src/lib/utils.ts
  src/types/jest.d.ts
  src/types/social.ts
Due: eslint, typescript-check

chore: add missing env vars
  .env.example
Due: none

feat: verify automated readme
  .env.example
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  package.json
  scripts/check-readme-env-vars.js
Due: eslint

refactor(admin): extract shared auth/provider guard for social routes
  src/app/api/admin/posts/[slug]/social/[provider]/draft/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/search/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/send/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/status/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/test/route.ts
  src/lib/social/route-guard.ts
Due: eslint, typescript-check

fix(admin): resolve SonarQube findings and expand social route test coverage
  __mocks__/sanitize-html.ts
  src/app/admin/posts/[slug]/social/page.tsx
  src/app/api/admin/posts/[slug]/social/[provider]/__tests__/route-errors.test.ts
  src/lib/social/__tests__/mailchimp.test.ts
  src/lib/social/__tests__/post-data.test.ts
  src/lib/social/route-guard.ts
Due: eslint, typescript-check

chore(deps): trivy dep errors
  package-lock.json
  package.json
  src/app/api/admin/posts/[slug]/social/[provider]/__tests__/route-errors.test.ts
Due: eslint

chore: prettier
  src/lib/social/__tests__/post-data.test.ts
Due: eslint

feat(admin): mailchimp social-mailing portal for presentation posts (#443)
  .env.example
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  __mocks__/sanitize-html.ts
  jest.config.js
  package-lock.json
  package.json
  scripts/check-readme-env-vars.js
  src/app/admin/posts/[slug]/edit/page.tsx
  src/app/admin/posts/[slug]/social/page.tsx
  src/app/api/admin/posts/[slug]/social/[provider]/__tests__/route-errors.test.ts
  src/app/api/admin/posts/[slug]/social/[provider]/__tests__/send-gate.test.ts
  src/app/api/admin/posts/[slug]/social/[provider]/draft/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/search/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/send/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/status/route.ts
  src/app/api/admin/posts/[slug]/social/[provider]/test/route.ts
  src/components/admin/BlogPostsTable.tsx
  src/components/admin/BranchSelector.tsx
  src/lib/social-cache.ts
  src/lib/social/__tests__/mailchimp.test.ts
  src/lib/social/__tests__/post-data.test.ts
  src/lib/social/index.ts
  src/lib/social/mailchimp.ts
  src/lib/social/post-data.ts
  src/lib/social/route-guard.ts
  src/lib/social/types.ts
  src/lib/utils.ts
  src/types/jest.d.ts
  src/types/social.ts
Due: eslint, typescript-check

feat: add privacy policy page
  README.md
  jest.config.js
  jest.setup.ts
  src/app/__tests__/sitemap.test.ts
  src/app/admin/posts/[slug]/social/page.tsx
  src/app/privacy/__tests__/page.test.tsx
  src/app/privacy/page.tsx
  src/app/sitemap.ts
  src/components/Footer.tsx
  src/components/__tests__/Footer.test.tsx
  src/lib/blog.ts
  src/lib/utils.ts
  src/types/post.ts
Due: eslint, typescript-check

fix(privacy): resolve SonarQube ambiguous-spacing findings
  src/app/privacy/page.tsx
Due: eslint, typescript-check

feat: add privacy policy page (#444)
  README.md
  jest.config.js
  jest.setup.ts
  src/app/__tests__/sitemap.test.ts
  src/app/admin/posts/[slug]/social/page.tsx
  src/app/privacy/__tests__/page.test.tsx
  src/app/privacy/page.tsx
  src/app/sitemap.ts
  src/components/Footer.tsx
  src/components/__tests__/Footer.test.tsx
  src/lib/blog.ts
  src/lib/utils.ts
  src/types/post.ts
Due: eslint, typescript-check

fix: join syntax
  src/lib/linkedin/__tests__/compose.test.ts
  src/lib/linkedin/compose.ts
Due: eslint, typescript-check

fix(admin): resolve SonarQube findings on LinkedIn admin posting
  src/app/admin/posts/[slug]/social/__tests__/page.test.tsx
  src/app/admin/posts/[slug]/social/page.tsx
  src/app/api/admin/posts/social/linkedin/callback/route.ts
  src/app/api/admin/posts/social/linkedin/speaker/callback/route.ts
  src/app/linkedin-connected/page.tsx
  src/lib/utils.ts
Due: eslint, typescript-check

refactor(admin): dedupe LinkedIn promote/unlink route boilerplate
  src/app/api/admin/posts/[slug]/social/linkedin/speaker/promote/route.ts
  src/app/api/admin/posts/[slug]/social/linkedin/speaker/unlink/route.ts
  src/lib/linkedin-speaker-pr.ts
Due: eslint, typescript-check

test: close remaining branch/function coverage gaps post-merge
  src/app/admin/__tests__/page.test.tsx
  src/app/admin/posts/[slug]/social/__tests__/page.test.tsx
  src/app/admin/posts/__tests__/page.test.tsx
  src/app/admin/posts/new/__tests__/page.test.tsx
  src/app/api/admin/assets/upload/__tests__/route.test.ts
  src/app/api/admin/github-status/__tests__/route.test.ts
  src/app/api/admin/google-maps/search/__tests__/route.test.ts
  src/app/api/admin/posts/[slug]/assets/__tests__/route.test.ts
  src/app/api/admin/posts/[slug]/rsvps/cache/__tests__/route.test.ts
  src/app/api/admin/posts/[slug]/rsvps/meetup/__tests__/route.test.ts
  src/app/api/admin/posts/[slug]/social/[provider]/__tests__/route-errors.test.ts
  src/app/api/admin/posts/new/__tests__/route.test.ts
  src/app/api/admin/speakers/upload/__tests__/route.test.ts
  src/app/api/mailchimp-subscribe/__tests__/route.test.ts
  src/app/api/rsvp/__tests__/route.test.ts
  src/app/rss.xml/__tests__/route.test.ts
  src/components/__tests__/RSVPForm.test.tsx
  src/components/admin/__tests__/BlogPostEditor.test.tsx
  src/lib/__tests__/blog.test.ts
  src/lib/__tests__/google-sheets-read.test.ts
  src/lib/__tests__/meetup.test.ts
  src/lib/__tests__/utils.test.ts
Due: eslint

test: resolve SonarQube findings across test files
  src/app/admin/__tests__/page.test.tsx
  src/app/admin/posts/[slug]/rsvps/__tests__/page.test.tsx
  src/components/__tests__/GoogleMapEmbed.test.tsx
  src/components/__tests__/PhotoCarousel.test.tsx
  src/components/__tests__/ThemeToggle.test.tsx
  src/components/admin/__tests__/BlogPostEditor.test.tsx
  src/components/admin/__tests__/BranchSelector.test.tsx
Due: eslint

feat(attendance): add data model, storage, and Sheets sync
  README.md
  docs/attendance-sheets-setup.md
  src/lib/__tests__/attendance-sheets-sync.test.ts
  src/lib/__tests__/attendance-stats.test.ts
  src/lib/__tests__/attendance-store.test.ts
  src/lib/__tests__/validation.test.ts
  src/lib/attendance-sheets-sync.ts
  src/lib/attendance-stats.ts
  src/lib/attendance-store.ts
  src/lib/validation.ts
  src/types/attendance.ts
Due: eslint, typescript-check

feat(attendance): add admin CRUD and public aggregates API routes
  src/app/api/admin/attendance/[id]/__tests__/route.test.ts
  src/app/api/admin/attendance/[id]/route.ts
  src/app/api/admin/attendance/__tests__/route.test.ts
  src/app/api/admin/attendance/posts/__tests__/route.test.ts
  src/app/api/admin/attendance/posts/route.ts
  src/app/api/admin/attendance/route.ts
  src/app/api/attendance/stats/__tests__/route.test.ts
  src/app/api/attendance/stats/route.ts
Due: eslint, typescript-check

feat(attendance): add admin attendance UI
  src/app/admin/attendance/__tests__/page.test.tsx
  src/app/admin/attendance/page.tsx
  src/components/AttendanceStats.tsx
  src/components/YearAttendanceBreakdown.tsx
  src/components/__tests__/AttendanceStats.test.tsx
  src/components/__tests__/YearAttendanceBreakdown.test.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/AttendanceBulkImport.tsx
  src/components/admin/AttendanceForm.tsx
  src/components/admin/AttendancePostPicker.tsx
  src/components/admin/AttendanceTable.tsx
  src/components/admin/Modal.tsx
  src/components/admin/SortIcon.tsx
  src/components/admin/__tests__/AttendanceBulkImport.test.tsx
  src/components/admin/__tests__/AttendanceForm.test.tsx
  src/components/admin/__tests__/AttendancePostPicker.test.tsx
  src/components/admin/__tests__/AttendanceTable.test.tsx
  src/components/admin/__tests__/Modal.test.tsx
  src/components/admin/__tests__/SortIcon.test.tsx
Due: eslint, typescript-check
